{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

<header class="site-header">
    {{- partial "site-header.html" $ -}}
</header>

<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post {{ if not (.Param "feature_image") }} no-image {{ end }}">

            <header class="post-full-header">


                    <section class="post-full-tags">
                {{ range $index, $cat := .Params.categories }}      
                    <a style="margin: 2px !important" href="{{ "/categories/" | relLangURL }}{{ $cat | urlize }}">{{ $cat }}</a>
                {{end}}
                    </section>

                    <section class="post-full-tags">
                        <small>
                            Tags : 
                                {{ range $index, $tag := .Params.tags }}      
                                    <a style="margin: 1px !important" href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>
                                {{end}}
                        </small>
                    </section>

                <h1 class="post-full-title">{{ .Title }}</h1>

                {{ if .Param "summary" }}
                    <p class="post-full-custom-excerpt">{{ .Summary }}</p>
                {{ end }}

                <div class="post-full-byline">
                    <section class="post-full-byline-content">

                        {{ if .Param "author" }}
                            {{- partial "post-author.html" . -}}
                        {{ end }}

                        <section class="post-full-byline-meta">
                            {{ if .Param "author" }}
                                <h4 class="author-name">{{ .Param "author" }}</h4>
                            {{ end }}
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="{{.Date.Format "2006-31-01"}}">{{.Date.Format "2 January 2006"}}</time>
                                <span class="byline-reading-time"><span class="bull">&bull;</span> {{ .ReadingTime }} min read</span>
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            {{ if .Param "feature_image" }}
            <figure class="post-full-image">
                <img src="{{ .Param "feature_image" }}" alt="{{ .Title }}" />
            </figure>
            {{ end }}

            <section class="post-full-content">
                <div class="post-content">
                    {{ .Content }}
                </div>

                {{ template "_internal/disqus.html" . }}
                
            </section>

        </article>

    </div>
</main>

{{- partial "post-navigation.html" . -}}

{{ end }}