<article class="post-card post
{{ if not (.context.Param "feature_image") }} no-image
{{ else }}
{{ if (eq (mod .index 6) 0) }} post-card-large {{ end }}
{{ end }} ">

        {{ if .context.Param "feature_image" }}
            <a class="post-card-image-link" href="{{ .context.Permalink }}">
                <img class="post-card-image"src="{{ .context.Param "feature_image" }}" alt="{{ .context.Title }}"/>
            </a>
        {{ end }}
    
        <div class="post-card-content">
            <a class="post-card-content-link" href="{{ .context.Permalink }}">
    
                <header class="post-card-header">
                    {{ with .context.Params.numeros }}
                        {{ $primaryNumero := (index . 0) }}
                        <div class="post-card-primary-tag">Gozette {{ $primaryNumero }}</div>
                    {{ end }}

                    <h2 class="post-card-title">{{ .context.Title }}</h2>
                    <div class="post-card-primary-tag">
                        {{ range $index, $cat := .context.Params.categories }}                     
                            #{{$cat}}
                        {{end}}
                    </div>
                    <div class="post-card-comments">
                            <span class="disqus-comment-count" data-disqus-url="{{ .context.Permalink }}"></span>
                    </div>
                </header>
    
                <section class="post-card-excerpt">
                    <p>{{ .context.Summary }}</p>
                </section>
    
            </a>


            <footer class="post-card-meta">
                {{$author_key := .context.Param "author"}}
                {{ $author := false}}
                {{if $author_key}}
                    {{ $author = index .context.Site.Data.authors $author_key }}
                {{end}}
                {{ if (not (.context.Param "no_author")) }}
                    <ul class="author-list">
                        <li class="author-list-item">
                            {{ if $author }}
                                <div class="author-name-tooltip">{{$author.name}} ({{ $author.nickname }})</div>
                                {{ if $author.gravatar}}
                                    <a href="#" class="static-avatar author-profile-image"><img src="https://www.gravatar.com/avatar/{{ md5 $author.gravatar}}?s=400&d=identicon"/></a>
                                {{ else }}
                                    <a href="#" class="static-avatar author-profile-image">{{- partial "icons/avatar.html" -}}</a>
                                {{ end }}
                            {{ else }}
                                <div class="author-name-tooltip">{{ .context.Param "author" }}</div>
                                <a href="#" class="static-avatar author-profile-image">{{- partial "icons/avatar.html" -}}</a>
                            {{ end }}
                        </li>
                    </ul>
                    {{ end }}
                    <div class="post-card-byline-content">
                        {{ if (not (.context.Param "no_author")) }}
                        {{ if $author }}
                            <span>{{$author.name}} ({{ $author.nickname }})</span>
                        {{ else }}
                            <span>{{ .context.Param "author" }}</span>
                        {{ end }}
                        {{ end }}
                        <span class="post-card-byline-date"><time datetime="{{ .context.Date.Format "2006-31-01" }}">{{ .context.Date.Format "2 January 2006" }}</time>
                            <span class="bull">&bull;</span> {{ .context.ReadingTime }} min read</span>
                    </div>
                </footer>
        </div>

</article>
    