{{ $author := index .Site.Data.authors .Params.author }}
<ul class="author-list">
    <li class="author-list-item">
        <div class="author-card">
            {{ if $author.gravatar }}
                <div class="author-profile-image"><img src="https://www.gravatar.com/avatar/{{ md5 $author.gravatar}}?s=100&d=identicon"/></div>
            {{ else }}
                <div class="author-profile-image">{{- partial "icons/avatar.html" -}}</div>
            {{ end }}
            <div class="author-info">
                <div class="author-info">
                    <h2>{{ .Param "author" }}</h2>
                </div>
            </div>
          }
        </div>
          {{ if $author.gravatar }}
             <a href="#" class="author-avatar author-profile-image"><img src="https://www.gravatar.com/avatar/{{ md5 $author.gravatar}}?s=400&d=identicon"/></a>
          {{ else }}
              <a href="#" class="author-avatar author-profile-image">{{- partial "icons/avatar.html" -}}</a>
          {{ end }}
    </li>
</ul>