{{ $seed := "ogs" }}
{{ $random := delimit (shuffle (split (md5 $seed) "" )) "" }}
<!-- Activating a player using javascript -->
<div id="{{(.Get 0)}}_move{{(.Get 1)}}_{{$random}}"></div>
<script type="text/javascript">
var elem = document.getElementById("{{(.Get 0)}}_move{{(.Get 1)}}_{{$random}}");
var player = new WGo.BasicPlayer(elem, {
    sgfFile: "https://online-go.com/api/v1/games/{{(.Get 0)}}/sgf",
    move: {{(.Get 1)}}
});
</script>
<a href="https://online-go.com/game/{{(.Get 0)}}">Voir sur OGS</a>

